<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcc.ProjectManagementSystem.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.dcc.ProjectManagementSystem.entity.Customer">
    <id column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  <select id="select_customer_list"  resultMap="BaseResultMap">
    select *  from customer;
  </select>
  
  <insert id="insert_customer" parameterType="com.dcc.ProjectManagementSystem.entity.Customer">
    INSERT INTO
		promgsys.customer
			(customer_name,
			customer_email,
			customer_address,
			customer_phone,
			customer_head_portrait)
		VALUES 
			(#{customer_name,jdbcType=VARCHAR},
			#{customer_email,jdbcType=VARCHAR},
			#{customer_address,jdbcType=VARCHAR},
			#{customer_phone,jdbcType=VARCHAR},
			#{customer_headportrait,jdbcType=VARCHAR});
  </insert>
</mapper>