<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcc.ProjectManagementSystem.mapper.PointListingMapper">
    <resultMap id="BaseResultMap" type="com.dcc.ProjectManagementSystem.entity.PointListing">
        <id column="tid" jdbcType="INTEGER" property="tid" />
    </resultMap>
</mapper>